/* Import de font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

li {
    list-style: none;
}

.bg-black {
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
}
.bg-red {
    background-color: rgb(159, 54, 71);
    color: rgb(255, 255, 255);
}

.bg-banner {
    background-image: url("../img/banner-bg.jpg");
    background-size: cover;
}
.black-button {
    color: rgb(255, 255, 255);
    background-color: rgb(24, 20, 25);
}

.section-hero{
    height: 90vh;
}


