/* Import de font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}

/* Selectores de etiqueta */

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}


/* Selectores de clase */

.bg-banner {
    background-image: url("../img/banner-bg.jpg");
    background-size: cover;
}

.bg-black {
    background-color: rgb(23, 23, 23);
    color: rgb(255, 255, 255);
}

.bg-grey {
    background-color: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
    width: 40%;
}

.bg-red {
    background-color: rgb(159, 54, 71);
    color: rgb(255, 255, 255);
}

.bg-popcorn {
    background-image: url("../img/bg-register.jpg");
    background-size: cover;
}

.black-button {
    background-color: rgb(24, 20, 25);
    color: rgb(255, 255, 255);
    padding: 0.8rem 1.6rem;
    border-radius: 5px;
}

.header {
    height: 10vh;
    position: sticky;
    top: 0;
}

.nav-bar {
    align-items: center;
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
    height: 100%;
    justify-content: space-between;
    margin: 0 3.2rem;
    padding-top: 1rem;
}
    .nav-bar ul {
        display: flex;
    }
        .nav-bar li {
            margin: 2rem;
        }
            .nav-bar a {
                padding: 0.8rem 1.6rem;
            }

.red-button:hover {
    background-color: rgb(159, 54, 71);
    color: rgb(255, 255, 255);
    padding: 0.8rem 1.6rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(42, 42, 42);
    border-radius: 5px;

}

.section-hero{
    height: 100vh;
}


